html {
  -webkit-scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

body {
  background-color: #222;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.MuiBackdrop-root {
  pointer-events: none !important;
}

a {
  color: gold !important;
}
